@charset "UTF-8";

:root {
  --blue: #0d6efd;
  --blue-dark: #0f1416;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --black: #000;
  --white: #fff;
  --gray: #6c757d;
  --brown: #7f542c;
  --gray-dark: #343a40;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #cfcfcf;;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --primary: #0d6efd;
  --secondary: #6c757d;
  --success: #198754;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #212529;
  --texto: #111315;
  --primary-rgb: 13, 110, 253;
  --secondary-rgb: 108, 117, 125;
  --success-rgb: 25, 135, 84;
  --info-rgb: 13, 202, 240;
  --warning-rgb: 255, 193, 7;
  --danger-rgb: 220, 53, 69;
  --light-rgb: 248, 249, 250;
  --dark-rgb: 33, 37, 41;
  --white-rgb: 255, 255, 255;
  --black-rgb: 0, 0, 0;
  --body-color-rgb: 33, 37, 41;
  --body-bg-rgb: 255, 255, 255;
  --font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-industry: Industry;
  --gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --gradientcore: linear-gradient(135deg, #300000 30%, #001600 90%);
  --gradientcor: linear-gradient(to right, #616161, #0A0A0A);
  --body-font-family: var(---font-sans-serif);
  --body-font-size: 1rem;
  --body-font-weight: 400;
  --body-line-height: 1.5;
  --body-bg: #fff;
  --gradient1: linear-gradient(to right, rgba(0, 0, 0, .80), #1A1A1A);
}

/** Atributos gerais **/

html, body {
  height: 100vh;
}
body {
    background: #DFDFDF;
    margin: 0;
    font-family: var(--font-industry);
}
a:-webkit-any-link {
    text-decoration: none;
}

/** Menu **/
.navbar {
  background: #fff;
  box-shadow: inset 0 3px rgb(255 255 255 / 40%), inset 0 -5px rgb(0 0 0 / 5%), inset 0 -30px rgb(0 0 0 / 1%), inset 0 -1px rgb(0 0 0 / 15%), 0 4px rgb(0 0 0 / 5%);
  height: 40px;
  padding: 10px 0 0;
  overflow: hidden;
}

.esquerda {
  float: left;
}

.direita {
  float: right;
}

.navbar .avatar {
  height: 110px;
  margin: -60px 0;
}

.alinhamento {
  padding: 0 20px;
}

/* Botões/elementos navbar */
#openMenu {
  cursor:pointer;
}

/* Menu lateral */
.sidebar {
  position: fixed;
  width: 200px;
  padding: 10px 20px;
  transform: translateX(0%);
  transition: transform .3s;
  background: var(--blue-dark);
  height: 100vh;
  top: 0;
  z-index: 2;
  opacity: 1;
}
.titulomenu {
  text-align: center;
  color: var(--white);
  margin-bottom: 10px;
}

.sidebar.isOpen {
  transform: translateX(-300px);
  opacity: 1;
}

.button {
  cursor: pointer;
}

.button svg {
  width: 40px;
}

.button line {
  stroke: black;
  stroke-width: 5;
}

h1 {
  margin-top: 25px;
  font-size: 40px;
  font-weight: 400;
}

.nav {
  list-style: none;
  margin: 0 0 0 -25%; 
}

.nav li {
  position: relative;
  display: block;
  margin-bottom: 5px;
  padding: 16px 16px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.nav li:hover,
.nav li.active {
  background: rgba(0,0,0,.3);
}

.nav li span {
  vertical-align: -6px;
}
.rt {
  float: right;
}
/* classes do elemento que vai abrir por baixo da navbar e se clicado fecha o menu */
.fechaMenu {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;

  z-index: 1;
}
.isClose {
  display: none;
}

/* Breadcrumb */
.breadcrumb {
  background-color: var(--gray-400);
  padding: 2px;
  text-align: center;
}

.breadcrumb span {
  vertical-align: -6px;
}

/* Corpo */
.content {
  height: 100%;
  max-width: 1200px;
  padding: 20px 20px;
  margin: 0 auto;
}

/* Footer */
footer {
  background: var(--gray-900);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0.5rem 0 0rem;
  height: 9rem;
  box-shadow: inset 0 3px rgb(255 255 255 / 20%), inset 0 -4px rgb(0 0 0 / 10%), inset 0 -25px rgb(0 0 0 / 3%), inset 0 0 0 1px rgb(0 0 0 / 25%);
}

.nomefooter {
  color: var(--brown);
  font-size: 3rem;
  margin: 0 20px 0 0;
}

.redessociaisfooter {
  margin: 0 0 25px;
}
.redessociaisfooter img {
  width: 20px;
}

.footerinstagram {
  color: var(--white);
  vertical-align: 4px;
  text-decoration:none;
}

.creditos {
  color: var(--white);
}

.creditos span {
  vertical-align: -7px;
}
@font-face {
  font-family: 'Industry';
  src: url('Industry/Industry-Bold.eot');
  src: local('Industry Bold'), local('Industry/Industry-Bold'),
      url('Industry/Industry-Bold.eot?#iefix') format('embedded-opentype'),
      url('Industry/Industry-Bold.woff') format('woff'),
      url('Industry/Industry-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
/** Conteúdos Extras **/
/* Botões úteis */
.printit {
  font-size: 24px;
}
.subtit {
  font-size: 12px;
}

.botoesuteis {
  color: var(--white);
  padding: 10px;
  border-radius: 6px;
  width: 300px;
  margin: 0 0 10px;
}
.botoesuteis img {
  float: right;
  width: 55px;
}
.botoesuteis:last-child {
  margin-bottom: 25px;
}
.botoesuteis.core {
  background: var(--gradientcore);
}
.botoesuteis.cor {
  background: var(--gradientcor);
}
/* Explorar */
.exptitprin {
  background-color: #d5d5d5;
  display: block;
  margin-bottom: 8px;
  padding: 3px;
  text-align: center;
  font-size: 23px;
  box-shadow: inset 1px 1px 0px rgb(118 118 118 / 78%), inset -1px -1px 0px rgb(118 118 118 / 78%), 0 3px 3px rgb(118 118 118 / 78%);}
.expcont {
  margin: 0 0 0 -40px;
}
.expcont li {
  list-style-type: none;
}
.expcont a:hover {
  background: rgb(241 241 241 / 50%);
}
.expcont a {
  background: var(--white);
  color: var(--texto);
  display: block;  
  padding: 10px 15px;
}
.expcont a span {
  vertical-align: -6px;
}

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* Slide */
.navigation-wrapper {
  width: 800px;
  box-shadow: 0px 0px 20px 8px rgb(0 0 0 / 40%);
  margin-bottom: 15px;
}
.dots {
 background: var(--white);
 box-shadow: inset 0 3px rgb(255 255 255 / 40%), inset 0 -5px rgb(0 0 0 / 5%), inset 0 -30px rgb(0 0 0 / 1%), inset 0 -1px rgb(0 0 0 / 15%), 0 4px rgb(0 0 0 / 5%);
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 205px;
  max-height: 100vh;
}

.number-slide1 {
  background: rgb(64, 175, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 175, 255, 1) 0%,
    rgba(63, 97, 255, 1) 100%
  );
}

.number-slide2 {
  background: rgb(255, 75, 64);
  background: linear-gradient(
    128deg,
    rgba(255, 154, 63, 1) 0%,
    rgba(255, 75, 64, 1) 100%
  );
}

.number-slide3 {
  background: rgb(182, 255, 64);
  background: linear-gradient(
    128deg,
    rgba(182, 255, 64, 1) 0%,
    rgba(63, 255, 71, 1) 100%
  );
  background: linear-gradient(
    128deg,
    rgba(189, 255, 83, 1) 0%,
    rgba(43, 250, 82, 1) 100%
  );
}

.number-slide4 {
  background: rgb(64, 255, 242);
  background: linear-gradient(
    128deg,
    rgba(64, 255, 242, 1) 0%,
    rgba(63, 188, 255, 1) 100%
  );
}

.number-slide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(
    128deg,
    rgba(255, 64, 156, 1) 0%,
    rgba(255, 63, 63, 1) 100%
  );
}
.number-slide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 76, 255, 1) 0%,
    rgba(174, 63, 255, 1) 100%
  );
}

.navigation-wrapper {
  position: relative;
}
.keen-slider {
  height: 205px;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot--active {
  background: #000;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}
/* Novos usuários */
.novosusuarios {
  border: solid 1px var(--blue-dark);
  border-radius: 6px;
  height: 299px;
  overflow: hidden;
  background: var(--black);
  display: grid;
}
.novoscontent {
  background: url(arvores.png), var(--info);
  background-size: 800px 200px;
  background-position: 0px 75px;
  background-repeat: no-repeat;
  height: 270px;
  display: block;
}
.novostit {
  background: #fff;
  text-align: center;
  font-size: 1.3rem;
  text-transform: uppercase;
}
